# CS 171 Project
## Christian Santos
## Taeho Lee
## Nicholas Kim

In [3]:
"""
Briefly describe how your code can be run in each section, what is the sequence to run ? 
"""

You can use triple single/double quote, or # sign or insert the latex equation, or insert picture for your code 
comments/description if that helps describe better

## Data

In [ ]:
"""
Describe your data source and how you will handle missing value, tranform data, or detect outliter 
"""

### Imports

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import os

### Extract Data

In [13]:
students = pd.read_csv(r'student-mat.csv')

### Data Clean

In [14]:
"""
Data Cleansing includes but not limit to : 
1. Validate the data type
2. check missing values and decide to drop data or impute data
3. Detect Outliter and decide to drop data or impute data
4. Reformat the data column title
"""

"""
Outlier (Anomaly) detection is important since some machine learnings are not robust to outlier, hence the coefficient 
estimation may serverly impacted by outlier. 

"""

'\nOutlier (Anomaly) detection is important since some machine learnings are not robust to outlier, hence the coefficient \nestimation may serverly impacted by outlier. \n\n'

In [15]:
"""
1. Validate the data type
"""

print(students.dtypes)
print(students.shape)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object
(395, 33)

In [16]:
"""
2. check missing values and decide to drop data or impute impute
"""
print(students.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [17]:
"""
NOTE: This does not summarize non-numerical data types
"""
students.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [23]:
"""
3. Detect Outliter and decide to drop data or impute data

TODO: reword this
This step we will impute the data by replacing binary columns such as: internet, and sex to have 1's and 0's
"""

students_numerical = students.copy(deep=True)

students_numerical['internet'] = students_numerical.internet.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.romantic.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.higher.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.nursery.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.activities.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.paid.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.famsup.eq('yes').mul(1)
students_numerical['internet'] = students_numerical.sex.eq('M').mul(1)

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: sex, Length: 395, dtype: int32

In [24]:
print(students_numerical.dtypes)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet       int32
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [25]:
students_numerical.describe()

,age,Medu,Fedu,traveltime,studytime,failures,internet,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,0.832911,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.373528,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,1.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,1.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

### Feature Engineering

In [ ]:
"""
Convert Categorical Varaibles to Dummies to prevent Zero Cell Count Error
"""

### Dimension Reduction

In [ ]:
"""
The main motivations for dimensionality reduction are: 
1.To speed up a subsequent training algorithm 
(in some cases it may even remove noise and redundant features, making the training algorithm perform better)
2.To visualize the data and gain insights on the most important features 
3.To save space (compression)

The main drawbacks are: 
1.Some information is lost, possibly degrading the performance of subsequent training algorithms. 
2.It can be computationally intensive. 
3.It adds some complexity to your Machine Learning pipelines. 
4.Transformed features are often hard to interpret.
"""

### Variable Selection

### Regularization

In [ ]:
"""
Regularization is a technique to overcome both overfitting or underfitting of the data.
"""

## Machine Learnig Algorithm Exploration

In [ ]:
"""
Describe what machine learning algorithms are suitable to answer your business questions, fit the model
"""

### Candidate ML Algorithm 1

### Candidate ML Algorithm 2

### Candidate ML Algorithm 3

## In-Sample Validation

In [ ]:
"""
Describe the what metric you will use for testing model performance, and list the performance for each algorithm you tried 
"""

### Peformance of ML Algorithm 1

### Peformance of ML Algorithm 2

### Peformance of ML Algorithm 3

## Ensemble Technique Applied

In [ ]:
"""
Describe the what ensemble technique can be applied to enhance your model performance and how do you apply it, 
you can try couple differnt esenble methods if you want 
"""

In [ ]:
## Conclusion

In [ ]:
"""
Describe what ML Algorithm(s) you finally decide to use, and what Ensemble technique(s) you decide to use, and 
conclude the model performance in terms of metric here
"""